.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}
.box {
  padding: 50px 50px 10px 50px; 
}
.link {
  color: #fff;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  text-decoration: none;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 35px;
  gap: 20px;
}

.superPowersContainer {
  width: 180px;
  display: flex;
  gap: 15px;
  position: relative;
  z-index: 2;
}

.modalBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.modalWindow {
  position: absolute;
  top: 115px;
  margin-right: 90px;
  display: flex;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: -12px;
}
